#__bs_notify__ {
	display: none !important;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
}

html,
body {	
	height: 100%;
	min-width: 320px;
	background-color: $gray;
}

body {
	font-size: 14px;
	font-family: 'Trebuchet MS', sans-serif;
}

a {
	text-decoration: none;
}

input::-webkit-contacts-auto-fill-button {
	visibility: hidden;
	display: none !important;
	pointer-events: none;
	position: absolute;
	right: 0;
}

input::-ms-clear {
	display: none;
}

.container {
	width: 100%;
	position: relative;
	max-width: 1010px;
	@include center;
	padding: 0 15px;
	@include bp-xl {
		padding: 0;
	}
	&--oh {
		overflow: hidden;
	}
}