// Center
@mixin center {
  margin: { 
    left: auto;
    right: auto;
  }
}

// Pseudo helper
@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

// CSS triangle
@mixin triangle($color, $direction, $size: 10px, $position: absolute){
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

// Media
@mixin bp-xl {
  @media only screen and (min-width: $xl-min) {
    @content;
  }
}

@mixin bp-lg {
  @media only screen and (min-width: $lg-min) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (min-width: $md-min) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (min-width: $sm-min) {
    @content;
  }
}

@mixin bp-xs {
  @media only screen and (min-width: $xs-min) {
    @content;
  }
}