/*Breakpoints*/
/*-----------------------------------------------------------------------------*/
$xs-min:						0px !default;
$sm-min:						576px !default;
$md-min:						768px !default;
$lg-min:						992px !default;
$xl-min:						1200px !default;

$sm-max:						$sm-min - 1 !default;
$md-max:						$md-min - 1 !default;
$lg-max:						$lg-min - 1 !default;
$xl-max:						$xl-min - 1 !default;

/*Colors*/
/*-----------------------------------------------------------------------------*/
$magenta:   				#d3135a !default;
$pink:   				    #ffc2dd !default;
$link:   				    #0071bc !default;
$gray:   						#e6e6e6 !default;
$mediumgray:   			#cccccc !default;
$darkgray:   				#666666 !default;
$text:   						#4d4d4d !default;
$border:   					#898989 !default;

/*Sizes*/
/*-----------------------------------------------------------------------------*/
$header-d: 					117px !default;
$header-m: 					80px !default;
$logo-d: 					  240px !default;
