<footer class="footer">
  <div class="container container--oh">
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-itm"><a class="footer__nav-link" href="#">menu link</a></li>
        <li class="footer__nav-itm"><a class="footer__nav-link" href="#">menu link</a></li>
        <li class="footer__nav-itm"><a class="footer__nav-link" href="#">menu link</a></li>
        <li class="footer__nav-itm"><a class="footer__nav-link" href="#">menu link</a></li>
        <li class="footer__nav-itm"><a class="footer__nav-link" href="#">menu link</a></li>
        <li class="footer__nav-itm"><a class="footer__nav-link" href="#">menu link</a></li>
      </ul>
    </nav>
    <div class="footer__disclaimer">
      <p>Nullam mattis luctus dolor, sed gravida tellus volutpat vel. Maecenas mollis augue sed tortor molestie ornare. Proin dapibus dictum eros ut adipiscing. Nullam ultrices dolor ut tristique sollicitudin. Integer scelerisque urna est, sit amet aliquet sapien accumsan quis. Nullam luctus semper vulputate. Nulla egestas urna nec tellus ultrices elementum. Proin dapibus dictum eros ut adipiscing. Nullam ultrices dolor ut tristique sollicitudin. Integer scelerisque</p>
    </div>
    <a href="#" class="footer__logo">The site</a>
  </div>
</footer>