<header class="header">
	<div class="container">
		<a href="/" class="header__logo">
			The site
		</a>
		<a href="#" class="header__burger" id="header__burger">
			<span  class="header__burger-line"></span>
			<span  class="header__burger-line"></span>
			<span  class="header__burger-line"></span>
		</a>
		<nav class="nav" id="site-nav">
			<ul class="menu menu--secondary">
				<li class="menu__itm"><a class="menu__itm-link" href="#">Menu link 1</a></li>
				<li class="menu__itm"><a class="menu__itm-link" href="#">Menu link 2</a></li>
				<li class="menu__itm"><a class="menu__itm-link" href="#">Menu link 3</a></li>
			</ul>
			<ul class="menu menu--primary">
				<li class="menu__itm">
					<a class="menu__itm-link" href="#">Menu link 1</a>
					<ul class="menu__sub">
						<li class="menu__itm"><a class="menu__itm-link" href="#">orcanet essentialism larcener</a></li>
						<li class="menu__itm"><a class="menu__itm-link" href="#">ambagiosity neaten cavalierness</a></li>
						<li class="menu__itm"><a class="menu__itm-link" href="#">benote objectional polyhedrous</a></li>
						<li class="menu__itm"><a class="menu__itm-link" href="#">array mucus bronchial</a></li>
						<li class="menu__itm"><a class="menu__itm-link" href="#">furnishable vesicorectal millenarist</a></li>
					</ul>
				</li>
				<li class="menu__itm"><a class="menu__itm-link" href="#">Menu link 2</a></li>
				<li class="menu__itm"><a class="menu__itm-link" href="#">Menu link 3</a></li>
				<li class="menu__itm"><a class="menu__itm-link" href="#">Menu link 4</a></li>
			</ul>
		</nav>
	</div>
</header>