---
layout: default.hbs
title: Home
---
<main class="site-main">
	<section class="site-main__section">
		<article  class="site-main__article wysiwyg">
			<h1>Lorem ipsum dolor sit amet, consectetur</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae autem deserunt reiciendis assumenda harum, sint. Nihil ullam distinctio officia quos magni, nam quam, eum, obcaecati maxime tempora optio hic expedita eveniet voluptate. Praesentium iste ipsum accusamus quaerat omnis tempore repudiandae molestias unde officiis at reprehenderit sunt esse consequuntur atque vero, distinctio, dolore, maiores architecto nesciunt. Earum totam maiores animi reprehenderit quos? Recusandae modi ex esse error illo, perspiciatis porro, omnis animi facere dolor voluptatum repellendus quas dignissimos cumque. Maxime aperiam sint placeat debitis ex maiores, est dolores, modi commodi. Tempora eveniet, asperiores ducimus expedita amet? Voluptate quia magni nulla. Velit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui impedit dolore culpa. Minima facilis, cupiditate vero, qui quaerat sunt, inventore dolore odit sit atque officia. Voluptates aut dicta, officiis, animi quam ullam praesentium porro veniam quis. Iure et error culpa asperiores vel maxime, expedita, officiis similique aliquam, facilis itaque ad! Eum laborum, delectus dignissimos ratione reprehenderit at natus asperiores illum! Vitae quae quam neque quaerat saepe similique eveniet natus nihil maiores et soluta nisi, totam, animi. Voluptatem porro, natus veniam perspiciatis repellendus iste beatae nostrum harum, consequatur sit, quasi! Ut minima soluta iure, natus ab cupiditate, beatae suscipit quae eius?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque unde dolorum vitae, sequi itaque dolores explicabo earum et repellendus eos architecto quod, molestias quam repudiandae ducimus deleniti vero asperiores necessitatibus nostrum aut ad obcaecati. At facilis laborum aperiam doloremque iste hic in sapiente inventore error repellat ratione, dolores molestiae deleniti ipsa nostrum eius, minus placeat. Ipsa asperiores obcaecati consequuntur quasi consectetur laudantium aspernatur provident rerum, exercitationem odio amet maiores, aperiam deleniti eveniet ducimus voluptas saepe architecto dolor, error quo blanditiis temporibus eaque, atque. Minus omnis, qui! Quae sapiente, nobis non ex quis sint amet, nisi a aliquid voluptas sit delectus!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla earum fugiat voluptatum eum doloribus eveniet. Totam quibusdam ducimus optio sapiente, perferendis sed molestias debitis harum dolorum veniam placeat, nam illum quia dolores repudiandae eum provident, deserunt, unde in. Nam dicta sunt optio dolorum aspernatur impedit, officiis illo vel porro sed, vitae iste, odio aut in. Error dolor eligendi, incidunt. Vel, accusantium, doloribus. Temporibus quo possimus aut accusamus perferendis nobis dolores quod expedita in aperiam impedit porro tempora velit facere dignissimos similique reiciendis vitae, pariatur sapiente neque ipsa autem. Nulla numquam dicta sint exercitationem assumenda praesentium obcaecati nihil quasi perferendis eaque.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis libero alias provident assumenda, accusamus aspernatur error sunt nihil, minima, aperiam dicta facere. Excepturi consectetur et eum non, soluta laudantium, veritatis deserunt consequatur temporibus optio, veniam maiores magnam nisi qui ullam ipsum sed rem repellendus esse dolorum accusantium voluptates? Voluptatum, quas beatae ab quibusdam soluta, voluptatibus et magni autem commodi. Autem inventore enim voluptate ipsum qui ex vel fugit dolore neque? Nihil impedit veniam numquam placeat excepturi accusantium, vel commodi perferendis corrupti harum asperiores, tempora vero dolore officiis, labore praesentium reiciendis debitis non mollitia dolorem aliquid cum ipsam. Quia, quod ex.</p>
		</article>
	</section>
	<section class="site-main__section">
		<div class="block block--50 block--no-marg-b wysiwyg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus porro architecto adipisci fuga expedita iste consequatur ullam, omnis eligendi perspiciatis aperiam maiores incidunt sit distinctio. Eaque animi harum eveniet porro praesentium aspernatur facilis rem necessitatibus minima ad dolore possimus, consectetur.</p>
		</div>
		<div class="block block--50 block--no-marg-b wysiwyg">
			<h2>Lorem ipsum dolor</h2>
			<ul class="link-list">
				<li><a href="#">Lorem ipsum dolor sit</a></li>
				<li><a href="#">Lorem ipsum</a></li>
				<li><a href="#">Lorem ipsum dolor</a></li>
			</ul>
		</div>
	</section>
</main>

<aside class="site-aside">
	<div class="site-aside__text">
		<h3 class="site-aside__text-title">Lorem ipsum dolor sit amet, consectetur</h3>
		<div class="site-aside__text-content wysiwyg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus obcaecati, et sed pariatur harum sit aspernatur quisquam error quia debitis totam distinctio animi natus sapiente ea labore enim. Ducimus earum labore omnis quas, cum nihil praesentium incidunt maxime quaerat. Corrupti perspiciatis nulla esse aperiam officia doloremque sed eius eveniet, voluptatem!</p>
		</div>
	</div>
	<form class="site-aside__form" id="main-form" method="post" action="/" novalidate>
		<label>
			<span>First name:</span>
			<input name="firstname" id="firstname" type="text" required>
		</label>
		<label>
			<span>Last name:</span>
			<input name="lastname" id="lastname" type="text" required>
		</label>
		<label>
			<span>Message:</span>
			<textarea name="message"></textarea>
		</label>
		<div class="site-aside__form-message">
		</div>
		<label>
			<button type="submit" class="btn btn--magenta">SUBMIT</button>
		</label>
	</form>
</aside>

<article class="site-article">
	<div class="block block--dark block--33 block--no-marg-r wysiwyg">
		<p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>
	</div>
	<div class="block block--dark block--33 block--no-marg-r wysiwyg">
		<p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>
	</div>
	<div class="block block--dark block--33 block--no-marg-r wysiwyg">
		<p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>
	</div>
</article>