<!DOCTYPE html>
<html lang="lt">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/ico" href="favicon.ico" />
		<title>{{title}}</title>
		<link href="css/style.min.css"rel="stylesheet" />
	</head>
	<body>

		{{> header}}
		
		<div class="container">
			{% body %}
		</div>

		{{> footer}}

		<script src="js/main.js"></script>
	</body>
</html>