[class*="btn--"] {
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	height: 36px;
	line-height: 35px;
	padding-left: 35px;
	padding-right: 35px;
	vertical-align: middle;
	text-align: center;
	outline: none;
	color: #fff;
	border: none;
}

.btn {
	&--magenta {
		background-color: $magenta;
		color: #fff;
	}	
}