.link-list {
  display: block;
  width: 100%;
  overflow: hidden;
  li {
    display: block;
    &:last-child {
      a {
        border: none;
      }
    }
  }
  a {
    display: block;
    font-size: 1em;
    line-height: 1.6em;
    padding: 5px 0;
    color: $link;
    border-bottom: 1px solid $mediumgray;
  }
}