.wysiwyg {
  p {
    font-size: 1em;
    color: $text;
    line-height: 1.4em;
    margin-bottom: 15px;
  }
  h1, h2 {
    font-weight: bold;
    color: #000;
  }
  h1 {
    font-size: 2.6em;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2em;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
}