.site-main {
	padding-top: 38px;
	width: 100%;
	@include bp-lg {
		width: 70%;
		float: left;
	}
	&__article {
		background-color: #fff;
		padding: 20px;
	}
	&__section {
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
	}
}

.site-article {
	clear: left;
	overflow: hidden;
}

