.site-aside {
	width: 100%;
	padding-top: 38px;
  margin-bottom: 20px;
	@include bp-lg {
		width: 30%;
		float: left;
		padding-left: 20px;
	}
  &__text {
    margin-bottom: 15px;
    &-title {
      font-size: 1.8em;
      line-height: 1.2em;
      color: #000;
      padding-bottom: 10px;
      margin-bottom: 15px;
      border-bottom: 3px solid #000;
    }
  }
  &__form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid $border;
    @include center;
    &-message {
      font-weight: bold;
      font-size: 0.8em;
      margin-bottom: 10px;
    }
    label {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      height: 31px;
      line-height: 31px;
    }
    textarea {
      width: 100%;
      height: 130px;
      resize: none;
    }
    input, textarea {
      border: 1px solid $border;
      padding: 0 10px;
      &.error {
        border-color: red;
      }
      &:focus {
        outline: none;
      }
    }
    span {
      color: #000;
      line-height: 1.6em;
    }
  }
}