.block {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  &--50, &--33 {
    @include bp-lg {
      margin-right: 20px;
      float: left;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &--50 {
    @include bp-lg {
      width: calc(50% - 10px);
    }
  }
  &--33 {
    @include bp-lg {
      width: 33.333%;
    }
  }
  &--dark {
    background-color: $mediumgray;
  }
  &--no-marg-r {
    margin-right: 0;
  }
  &--no-marg-b {
    @include bp-lg {
      margin-bottom: 0;
    }
  }
}