.footer {
  background-color: $darkgray;
  width: 100%;
  padding: 15px 0;
  overflow: hidden;
  position: relative;
  &__nav {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    @include bp-md {
      width: 100%;
      height: 12px;
      margin-bottom: 25px;
    }
    &-itm {
      display: block;
      width: 100%;
      @include bp-md {
        display: inline-block;
        width: auto;
        border-right: 1px solid #fff;
        &:first-child {
          a {
            padding-left: 0;
          }
        }
        &:last-child {
          border-right: none;
          a {
            padding-right: 0;
          }
        }
      }
    }
    &-link {
      font-size: 0.8em;
      line-height: 1rem;
      color: #fff;
      @include bp-md {
        padding: 0 10px;
      }
    }
  }
  &__disclaimer {
    width: 50%;
    float: left;
    font-size: 12px;
    color: #b3b3b3;
    @include bp-md {
      width: calc(100% - 200px);
      padding-right: 15px;
    }
  }
  &__logo {
    font-size: 2.5em;
    line-height: 3rem;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    float: left;
    @include bp-md {
      width: 200px;
      position: absolute;
      bottom: 0;
      right: 15px;
      float: none;
      line-height: 2.5rem;
      text-align: right;
    }
    @include bp-xl {
      right: 0;
    }
  }
}