.header {
  width: 100%;
  height: $header-m;
  background-color: $magenta;
  @include bp-md {
    height: $header-d;
  }
  &__logo {
    font-size: 4em;
    display: inline-block;
    flex-wrap: bold;
    font-weight: 600;
    color: $pink;
    line-height: $header-m;
    @include bp-md {
      width: $logo-d;
      display: block;
      height: $header-d;
      line-height: 150px;
    }
  }
  &__burger {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    border: 2px solid #fff;
    position: absolute;
    right: 15px;
    top: 15px;
    &-line {
      display: block;
      position: absolute;
      left: 0; right: 0;
      width: 40px;
      height: 2px;
      background-color: #fff;
      @include center;
      &:first-child {
        top: 14px;
      }
      &:nth-child(2) {
        top: 22px;
      }
      &:last-child {
        top: 30px;
      }
    }
    &--open {
      .header__burger-line {
        &:first-child {
          transform: rotate(-45deg);
          top: 22px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(45deg);
          top: 23px;
        }
      }
    }
    @include bp-md {
      display: none;
    }
  }
}