.nav {
  position: absolute;
  top: $header-m;
  left: 0; right: 0;
  @include center;
  width: 100%;
  background-color: $magenta;
  z-index: 999;
  display: none;
  &--open {
    display: flex;
    flex-wrap: wrap;
  }
  @include bp-md {
    left: auto;
    right: 0;
    height: $header-d;
    display: block;
    top: 0;
    width: calc(100% - 240px);
  }
}

.menu {
  display: block;
  overflow: hidden;
  width: 100%;
  @include bp-md {
    text-align: right;
    overflow: visible;
  }
  &__itm {
    display: block;
    float: left;
    width: 100%;
    &-link {
      display: block;
      width: 100%;
      line-height: 20px;
      padding: 10px;
      color: #fff;
    }
    @include bp-md {
      display: inline-block;
      width: auto;
      float: none;
      position: relative;
    }
  }
  &--primary {
    order: 1;
    .menu__itm {
      @include bp-md {
        &:hover {
          > .menu__itm-link {
            color: $text;
          }
          > .menu__sub {
            display: block;
          }
        }
      }
      &-link {
        font-size: 1.4em;
        @include bp-md {
          line-height: 30px;
        }
      }
    }
  }
  &--secondary {
    order: 2;
    @include bp-md {
      margin-bottom: 7px;
    }
    .menu__itm-link {
      font-size: 1em;
      color: #000;
      @include bp-md {
        padding: 20px 10px;
      }
    }
  }
  &__sub {
    .menu__itm {
      padding-left: 15px;
      &-link {
        font-size: 1.2em !important;
      }
    }
    @include bp-md {
      display: none;
      position: absolute;
      left: -30%;
      width: 160%;
      &:before {
        @include triangle($text, up, $size: 10px, $position: absolute);
        @include center;
        top: -10px;
        left: 0;
        right: 0;
      }
      .menu__itm {
        padding-left: 0;
        display: block;
        width: 100%;
        &-link {
          display: block;
          width: 100%;
          font-size: 0.8em !important;
          line-height: 1em;
          padding: 10px;
          background-color: $text;
          text-align: left;
          &:hover {
            background-color: $darkgray;
            color: #fff !important;
          }
        }
      }
    }
  }
}